.wrapper {
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 0 2px transparent;
  box-sizing: border-box;
  width: 120px;
  height: var(--spacing-9);
  padding: 0 var(--spacing-2) 0 var(--spacing-5);
  margin: 1px 3px;
  border-radius: 100px;
  min-width: 35px;
  position: relative;
  flex-shrink: 1;
  flex-grow: 1;
  background: var(--surface-container);
}

.icon-filter {
  --icon-url: url("../../assets/icons/filter.svg");
  --icon-size: 16px;
  color: var(--text-secondary);
  width: var(--spacing-8);
  height: var(--spacing-8);
  margin-right: var(--spacing-3);
}

.icon-filter::before {
  content: '';
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: currentColor;
  mask: var(--icon-url) center / contain no-repeat;
}

.wrapper > input {
  flex: 1;
  white-space: nowrap;
  cursor: text;
  color: var(--text-primary);
  outline: none;
  border: none;
  background: transparent;
}
