@import url('./theme.css');

* {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0
}

:root {
  height: 100%;
  overflow: hidden;
  interpolate-size: allow-keywords
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  cursor: default;
  font-family: var(--font-family);
  font-size: 12px;
  tab-size: 4;
  user-select: none;
  color: var(--text-primary);
  background: var(--surface-base)
}

#__root {
  width: 100%;
  height: 100%;
  position: absolute !important;
  inset: 0;
  display: flex;
  flex-direction: column;
}

.vbox {
  display: flex;
  flex-direction: column !important;
  position: relative;
}

.hbox {
  display: flex;
  flex-direction: row !important;
  position: relative;
}

.flex-auto {
  flex: auto;
}
